<app-carousel #carousel [display]="5">
  <p *appCarouselItem>A</p>
  <p *appCarouselItem>B</p>
  <p *appCarouselItem>C</p>
  <p *appCarouselItem>D</p>
  <p *appCarouselItem>E</p>
  <p *appCarouselItem>F</p>
  <p *appCarouselItem>G</p>
  <p *appCarouselItem>H</p>
  <p *appCarouselItem>I</p>
  <p *appCarouselItem>J</p>
  <p *appCarouselItem>K</p>
  <p *appCarouselItem>L</p>
  <p *appCarouselItem>M</p>
</app-carousel>
<button (click)="carousel.prev()">Prev</button>
<button (click)="carousel.next()">Next</button>
